$base-color: steelblue;

// Variable Overrides 
$theme-colors: (
  "primary": $base-color
);

$body-bg: steelblue;
// Bootstrap Sass Imports
@import "node_modules/bootstrap/scss/bootstrap";

//Google Fonts Imports
@import url('https://fonts.googleapis.com/css?family=Blinker|Luckiest+Guy|Patua+One|Righteous|Open+Sans:600|Work+Sans:500|Ultra&display=swap');

html {
  scroll-behavior: smooth;
}

#briefAbout h1{
    animation-delay: -2s;
    animation: 1.3s ease-out 0s 1 slideInFromRight;
    transition-timing-function: cubic-bezier(0, 0.9, 1, 0.58);
}

#briefAbout h3{
  animation-delay: -2s;
  animation: 1.5s ease-out 0s 1 slideInFromRight;
  transition-timing-function: cubic-bezier(0, 0.9, 1, 0.58);
}

#contact{
  animation-delay: -2s;
  animation: 1.7s ease-out 0s 1 slideInFromRight;
  transition-timing-function: cubic-bezier(0, 0.9, 1, 0.58);
}

#fbIcon{
  width:50px;
  animation: 1s ease-out 0s 1 rotateFullRight;
  animation-delay: 2s;
}
#linkedInIcon{
  width:60px;
  animation: 1s ease-out 0s 1 rotateFullRight;
  animation-delay: 2.2s;
}
#githubIcon{
  width:55px;
  animation: 1s ease-out 0s 1 rotateFullRight;
  animation-delay: 2.4s;
}

#about{
  font-family: 'Open Sans', sans-serif !important;
}

.card-title{
  font-family: 'Ultra', serif;
}
p, li{
  font-family: 'Work Sans', sans-serif;
}

.quote--author{
  color:white;
}

#pills-one-link, #pills-two-link, #pills-three-link{
  text-align: center;
}

.button {
  background-color: white;
  border: 1px solid steelblue;
  color:steelblue;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin: 4px 2px;
  cursor: pointer;
  }

.quote {
    color:white;
    position: relative;
    letter-spacing: .03em;
    margin-bottom: .5rem;
    animation: 2s ease-out 0s 1 slideInFromRight;
    transition-timing-function: cubic-bezier(0, 0.9, 1, 0.58);
    
    &:before {
        content: "“";
        position: absolute;
        left: -.7em;
    }
    
    &:after {
        content: "”";
        margin-right: -1rem;
    }
}

.quote--container {
    margin-top: 30px;
    width: 100%;
    border-bottom: 2px dotted #C6D1BF;
    padding-bottom: .5rem;
}

.quote--highlight {
    color: $base-color;
    font-weight: bold;
}

.quote--author {
    font-family: 'Open Sans Condensed';
    font-size: .8rem;
    text-align: right;
    font-weight: 300;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
 }

 .material-icons{
   font-size:33px;
   float: left;
   margin-right: 5px;
 }

 .row-flex {
  display: flex;
  flex-wrap: wrap;
}

  #pills-one{
    background-color: steelblue;
    color: white;
  }
  #pills-two{
    background-color: white;
    color: steelblue;
  }
  #pills-three{
    background-color: white;
    color: steelblue;
  }
  #sectionOne {
    height: 100%; 
    text-align: left; 
  }
  #sectionTwo {
    height: 100%; 
    display: none;
    text-align: left; 
  }
  #sectionThree {
    height: 100%; 
    display: none;
    text-align: left; 
  }

  @media (max-width: 480px) {
    .nav-link{
      padding:10px;
      font-size: small;
    }
  }
  
  @keyframes slideInFromLeft {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }
  @keyframes slideInFromRight {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  @keyframes slideInFromTop {
    0% {
      transform: translateY(-300%) rotate(0deg);;
    }
    100% {
      transform: translateY(0) rotate(20deg);;
    }
  }
  @keyframes rotateFullRight {
    0% {
      transform: rotate(0deg);;
    }
    100% {
      transform: rotate(360deg);;
    }
  }


  .jumbotron {
    width: 100%;
    background-color: black !important;
    background-image:  url(../assets/stars3.jpg);
    background-repeat: repeat-x;
    animation: 50s para infinite linear;
    }

@keyframes para {
    100% {
        background-position: 
            -5000px 20%;
        }
    }